<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoSpot - О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleG.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        {% include 'header.html' %}
        <main>
            <div class="container">
                <section class="about-section">
                    <div class="about-text">
                        <h2>О нас</h2>
                        <p>
                            Добро пожаловать в GoSpot – ваш надежный партнер в мире водных видов спорта! Мы создали платформу, которая предоставляет любителям активного отдыха на воде удобный инструмент для поиска и бронирования занятий, а также доступ к разнообразному контенту и сообществу единомышленников. Мы стремимся сделать увлечение водными видами спорта доступным и интересным для каждого.
                        </p>
                    </div>
                    <div class="about-image">
                        <img src="{{ url_for('static', filename='card/угабуга.jpg') }}" alt="Hero Image">
                    </div>
                </section>
                <section class="about-section">
                    <div class="about-image">
                        <img src="{{ url_for('static', filename='card/surfing.jpg') }}" alt="Mission Image">
                    </div>
                    <div class="about-text">
                        <h2>Наша миссия</h2>
                        <p>
                            Наша миссия заключается в том, чтобы сделать водные виды спорта доступными для всех. Мы стремимся вдохновлять людей отправляться на воду, чтобы испытать радость активного образа жизни. Мы верим, что водный спорт может стать источником вдохновения и энергии, способствуя здоровому образу жизни и укреплению общества. Мы стремимся создавать не только энтузиастов водных видов спорта, но и целые сообщества, которые делятся своими впечатлениями и опытом.
                        </p>
                    </div>
                </section>
                <section class="about-section">
                    <div class="about-text">
                        <h2>Наши ценности</h2>
                        <p>
                            Доступность. Мы упрощаем процесс бронирования услуг, чтобы каждый мог легко найти и забронировать подходящий вид спорта.
                        </p>
                        <p>
                            Открытость и связанность. Мы стремимся создавать инструменты и платформы, которые могут быть полезны как новичкам, так и опытным спортсменам. Мы верим в важность обмена знаниями и опытом, а также в поддержку друг друга.
                        </p>
                        <p>
                            Сообщество. Мы объединяем интересы всех, кто любит водные виды спорта, создавая платформу для обмена опытом и поддержки друг друга. Здесь вы найдете единомышленников, которые смогут сделать ваши занятия еще более приятными и эффективными.
                        </p>
                    </div>
                    <div class="about-image">
                        <img src="{{ url_for('static', filename='card/dive.jpg') }}" alt="Values Image">
                    </div>
                </section>
                <section class="about-section">
                    <div class="about-image">
                        <img src="{{ url_for('static', filename='card/yaht.png') }}" alt="Team Image">
                    </div>
                    <div class="about-text">
                        <h2>Наша команда</h2>
                        <p>
                            В GoSpot работает команда увлеченных людей, которые разделяют страсть к водным видам спорта. Мы постоянно совершенствуем наш сервис, чтобы ваша поездка на воду была максимально комфортной и увлекательной. Мы гордимся тем, что помогаем людям открывать для себя новые возможности и достигать своих целей.
                        </p>
                    </div>
                </section>
                <section class="about-section">
                    <div class="about-text">
                        <h2>Свяжитесь с нами</h2>
                        <p>
                            Если у вас есть вопросы или предложения, не стесняйтесь обращаться к нам! Мы всегда рады помочь вам найти наилучшие варианты для проведения времени на воде.
                        </p>
                        <p>
                            Контактный номер: +123 456 7890
                        </p>
                        <p>
                            Электронная почта: info@gospot.com
                        </p>
                    </div>
                    <div class="about-image">
                        <img src="{{ url_for('static', filename='card/veikbord.jpg') }}" alt="Contact Image">
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-section">
                        <p>&copy; 2025 GoSpot. Все права защищены.</p>
                    </div>
                    <div class="footer-section mobile-app">
                        <h3>Мобильное приложение</h3>
                        <p>В приложении ещё удобнее искать споты и узнавать о новых мероприятиях! Скачайте его и добавьте GoSpot на главный экран своего устройства даже если нет интернета.</p>
                        <div class="app-links">
                            <a href="#"><img src="{{ url_for('static', filename='card/QR_code.jpg') }}" alt="QR Code"></a>
                            <a href="#"><img src="{{ url_for('static', filename='card/play.jpg') }}" alt="Google Play"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- Модальное окно входа -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>GoSpot</h2>
            <h3>Вход</h3>
            <form>
                <input type="text" placeholder="Логин" required>
                <input type="password" placeholder="Пароль" required>
                <button type="submit">Войти</button>
            </form>
            <p>Нет аккаунта? <a href="#" id="register-link">Зарегистрируйтесь</a></p>
        </div>
    </div>

    <!-- Модальное окно регистрации -->
    <div id="register-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>GoSpot</h2>
            <h3>Регистрация</h3>
            <form>
                <input type="text" placeholder="Логин" required>
                <input type="password" placeholder="Пароль" required>
                <input type="password" placeholder="Пароль еще раз" required>
                <button type="submit">Регистрация</button>
            </form>
            <p>Вы зарегистрированы? <a href="#" id="login-link">Войдите</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script3.js') }}"></script>
</body>
</html>