<header>
    <div class="container">
        <div class="header-left">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='card/logo.png') }}" alt="GoSpot Logo" class="logo"></a>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="{{ url_for('about') }}" {% if request.endpoint == 'about' %}class="active"{% endif %}>О нас</a></li>
                <li><a href="{{ url_for('blog') }}" {% if request.endpoint == 'blog' %}class="active"{% endif %}>Блог</a></li>
                <li><a href="{{ url_for('shop') }}" {% if request.endpoint == 'shop' %}class="active"{% endif %}>Магазин</a></li>
                <li><a href="{{ url_for('help') }}" {% if request.endpoint == 'help' %}class="active"{% endif %}>Помощь</a></li>
                <li><a href="{{ url_for('favorites') }}" {% if request.endpoint == 'favorites' %}class="active"{% endif %}>Избранное</a></li>
            </ul>
        </nav>
        <div class="header-right">
            <a href="#" class="button">Для бизнеса</a>
            <button id="login-button" class="button">Войти</button>
        </div>
    </div>
</header>

<!-- Модальное окно входа -->
<div id="login-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>GoSpot</h2>
        <h3>Вход</h3>
        <form>
            <input type="text" placeholder="Логин" required>
            <input type="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="#" id="register-link">Зарегистрируйтесь</a></p>
    </div>
</div>

<!-- Модальное окно регистрации -->
<div id="register-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>GoSpot</h2>
        <h3>Регистрация</h3>
        <form>
            <input type="text" placeholder="Логин" required>
            <input type="password" placeholder="Пароль" required>
            <input type="password" placeholder="Пароль еще раз" required>
            <button type="submit">Регистрация</button>
        </form>
        <p>Вы зарегистрированы? <a href="#" id="login-link">Войдите</a></p>
    </div>
</div> 