<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoSpot - Карта</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleK.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <div class="wrapper">
        {% include 'header.html' %}
        <section class="intro-text">
            <a href="{ url_for('poisk') }" class="back-button">Назад</a>
            <h2>Яхт-клуб "Ореховая бухта</h2>
        </section>
        <main>
            <div class="container">
                <section class="result-details">
                    <div class="result-content">
                        <!-- Блок с изображениями -->
                        <div class="image-container">
                            <img src="{{ url_for('static', filename='card/cts.png') }}" alt="Result 1" class="result-image">
                            <div class="small-images">
                                <img src="{{ url_for('static', filename='card/cts.png') }}" alt="Small 1" class="small-image">
                                <img src="{{ url_for('static', filename='card/cts.png') }}" alt="Small 2" class="small-image">
                                <img src="{{ url_for('static', filename='card/cts.png') }}" alt="Small 3" class="small-image">
                                <img src="{{ url_for('static', filename='card/cts.png') }}" alt="Small 4" class="small-image">
                            </div>
                        </div>
                        <!-- Блок с текстом -->
                        <div class="result-text">
                            <div class="button-container">
                                <button class="button green">Можно детям</button>
                                <button class="button blue">Есть инвентарь</button>
                                <button class="button darkblue">Сансерфинг</button>
                                <button class="button orange">Яхтинг</button>
                            </div>
                            <p><span class="blue-text">Адрес:</span> Московская область, городской округ Мытищи, деревня Болтино, Ореховая улица</p>
                            <p><span class="blue-text">Трейк рейтинг:</span> Экспертный</p>
                            <p><span class="blue-text">График работы:</span> 10:00 - 19:00</p>

                            <div class="button-container3knopki">
                                <button class="custom-button" style="background-image: url('card/cts.png');">Плавание</button>
                                <button class="custom-button" style="background-image: url('card/cts.png');">Сансерфинг</button>
                                <button class="custom-button" style="background-image: url('card/cts.png');">Яхтинг</button>
                            </div>

                            <div class="instructions">
                                <p><span class="blue-text">Инструкторы:</span></p>
                                <div class="instructors-container">
                                    <a href="{ url_for('instructor') }" class="button blueinst">Иван Носов</a>
                                    <button class="button blueinst">Имя Носов</button>
                                    <button class="button blueinst">Имя Ник</button>
                                </div>
                            </div>
                            <div class="description">
                                <p>Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного
                                    Много текстаМного текстаМного текстаМного текстаМного текстаМного текстаМного текста
                                    Много текстаМного текстаМного текстаМного текста
                                    Много текстаМного текстаМного текста</p>
                            </div>
                            <div class="additional-info">
                                <div class="button-containermnogo">
                                    <button class = "button blueinst">теалет</button>
                                    <button class = "button blueinst">душ</button>
                                    <button class = "button blueinst">WI-FI</button>
                                    <button class = "button blueinst">электричество</button>
                                    <button class = "button blueinst">палаткаместо</button>
                                    <button class = "button blueinst">питьевая вода</button>
                                    <button class = "button blueinst">мусорный бак</button>
                                    <button class = "button blueinst">аренда жилья</button>
                                    <button class = "button blueinst">спасалка</button>
                                    <button class = "button blueinst">парковка</button>
                                    <button class = "button blueinst">прокат снаряжения</button>
                                    <button class = "button blueinst">ремонт снаряжения</button>
                                    <button class = "button blueinst">12</button>   
                                </div>
                            </div>
                            <p><span class="blue-text">Доступ:</span> Московская область, городской округ Мытищи, деревня Болтино, Ореховая улица</p>
                            <p><span class="blue-text">Верификация:</span> Московская область, городской округ Мытищи, деревня Болтино, Ореховая улица</p>
                            <p><span class="blue-text">Контакты:</span> Московская область, городской округ Мытищи, деревня Болтино, Ореховая улица</p>
                            <div class="reviews-container">
                                <p><span class="blue-text">Отзывы</span>
                                    <div class="review-item">
                                        <p>"Лучший инструктор! Помог мне научиться серфингу!" - Иван.</p>
                                    </div>
                                    <div class="review-item">
                                        <p>"Отличные занятия по яхтингу, рекомендую!" - Ольга.</p>
                            </div>
                        </div>
                    </div>
                </section>                               
                <section class="map-section">
                    <div id="map" class="map-container"></div>
                </section>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-section">
                        <p>&copy; 2025 GoSpot. Все права защищены.</p>
                    </div>
                    <div class="footer-section mobile-app">
                        <h3>Мобильное приложение</h3>
                        <p>В приложении ещё удобнее искать споты и узнавать о новых мероприятиях! Скачайте его и добавьте GoSpot на главный экран своего устройства даже если нет интернета.</p>
                        <div class="app-links">
                            <a href="#"><img src="{{ url_for('static', filename='card/QR_code.jpg') }}" alt="QR Code"></a>
                            <a href="#"><img src="{{ url_for('static', filename='card/play.jpg') }}" alt="Google Play"></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/script7.js') }}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>